{% extends 'pages/base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css%}

{% block content %}
<h1>Who am I?</h1>

<div class="container-fluid">
    <div class="row">
        <!-- Left Container -->
        <div class="col-md-6 left-container d-flex justify-content-center align-items-center">
            <img src= "{% static 'images/duck.gif' %}" alt="Favicon" class="img-fluid" >
        </div>

        <!-- Right Container -->
        <div class="col-md-6 right-container d-flex justify-content-center align-items-center">
           <div class="center-box">
        <p id="changingSentence">Hello, <span id="wordToChange">World</span>!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}<script src="{% static 'js/scripts.js' %}"></script>{% endblock js%}