{% extends 'pages/base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock css%}

{% block content %}
  <div class="contact-section">
    <div class="social-media">
      <div class="social">
        <i class="fab fa-facebook-f"></i>
        <a href="https://www.facebook.com">
           FB
        </a>
      </div>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <a href="https://www.twitter.com">
          Twitter
        </a>
      </div>
      <div class="social">
        <i class="fab fa-instagram"></i>
        <a href="https://www.instagram.com">
         Insta
        </a>
      </div>
    </div>


    <div class="contact-info-box">
      <h2>Contact Information</h2>
      <div class="contact-details">
        <p><strong>Phone:</strong> +1234567890</p>
        <p><strong>Email:</strong> <a href="mailto:contact@yourdomain.com">laderajohnalbert@gmail.com</a></p>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}<script src="{% static 'js/scripts.js' %}"></script>{% endblock js%}