{% extends 'pages/base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css%}

{% block content %}
    <h1>Welcome to my Website</h1>

<div class="container-fluid">
    <div class="row">
        <!-- Left Container -->
        <div class="col-md-6 left-container d-flex justify-content-center align-items-center">
            <img src= "{% static 'images/favicon.png' %}" alt="Favicon" class="img-fluid" id="favicon_png">
        </div>

        <!-- Right Container -->
        <div class="col-md-6 right-container d-flex justify-content-center align-items-center">
            <div id="fadeText" class="fade-in">
            My favicon is composed of my initials 'JAL' which stands for John Albert Ladera.
            The three capitalized letters were combined to form a capital 'A' that stands for my nickname 'Albert'.
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}<script src="{% static 'js/scripts.js' %}"></script>{% endblock js%}